
    html{
      font-size: var(--basic-font-pc);
    }
    html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #000;
      /* font-family: Helvetica Neue, Helvetica, Arial, sans-serif; */
      font-size: 14px;
      color: #fff;
      margin: 0;
      padding: 0;
    }
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 0.9rem;
      background: #444;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
 

    /* 슬라이드 1 */
    .slide1{
      background: url(../img/ai-background.jpg) no-repeat 50% 50% / cover;
      display: flex;
      flex-direction: column;
      gap: 5.8rem;
      color: var(--slate-gray-700);
    }
    
    /* 슬라이드 */
    .aicommand {
    /* height: 100vh; */
    /* top: 50px; */
    width: 100%;
    }
    .ai{
      margin-bottom: 8rem;
    }
    .aicommand .swiper-slide{
      background-color: var(--slate-gray-100);
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0 auto;
    }
    .swiper-slide button{
      width: 13rem;
      height: 3.5rem;
      background-color: transparent;
      color: var(--slate-gray-600);
      border: 1px solid var(--slate-gray-300);
      cursor: pointer;
    }
    .aicommand .swiper-slide p{
      color: var(--slate-gray-800); 
      font-size: 1rem;
    }
    .swiper-slide>.ai>ul{
      width: auto;
      margin: 0 5.5rem;
      height: 329px;
      display: flex;
      gap: 4.25rem;
    }
    .swiper-slide.ai>ul>li{
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    .ai img {
    /* width: 100%; */
    object-fit: cover;
    aspect-ratio: 1/1;
    margin-top: 1.5rem;
    height: 272px;
}
    .ai p{
      margin: 1rem auto 0;
    }
    .btns {
    margin: 1.5rem 32.7rem 9rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: space-evenly;
    /* margin: 0 auto; */
}

    .aicommand .go-to-first>button {
    position: fixed;
    right: 100px;
    bottom: 100px;
    width: 5rem;
    height: 2.5rem;
    background-color: transparent;
    color: var(--slate-gray-600);
    border: 1px solid var(--slate-gray-300);
    cursor: pointer;
}

    .aicommand .slide8 .font-point{
      font-size: 1rem;
    }


    /* 페이지네이션 */
    .aicommand .swiper-pagination {
    position: absolute;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0,0,0);
    z-index: 10;
    padding-bottom: 5.7rem;
}
    .aicommand .swiper-pagination-bullet {
    width: 5rem;
    height: 0.35rem;
    display: inline-block;
    border-radius: 1.25rem;
    background: var(--swiper-pagination-bullet-inactive-color,#000);
    opacity: var(--swiper-pagination-bullet-inactive-opacity, .2);
    }
    .aicommand .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: var(--slate-gray-700);
    }



    @media(max-width:1440px){

      html{
        font-size: var(--basic-font-tab);
      }
      .mobile-only{
        display: block;
      }
      .aicommand .swiper-pagination-bullet {
         width: 3rem;

}
      .swiper-slide>.ai>ul {
    width: auto;
    margin: 0 11.5rem;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16.6rem;
    justify-content: center;
    align-items: center;
    gap: 0.55rem;
}
      .ai img {
        /* width: 100%; */
        object-fit: cover;
        aspect-ratio: 1/1;
        margin-top: 1.5rem;
        height: 200px;
      }
      .slide4>.ai>ul,.slide6>.ai>ul{
      height: 160px;
      margin: 0 10.5rem 16.6rem;
      }
      .btns {
    margin: 1.5rem 7.15rem 9rem;
}
    .slide5>.ai>ul{
      margin: 0 10.5rem;
    }
      .slide8>.ai>ul {
          width: auto;
          margin: 0 5.5rem;
          height: 200px;
          display: flex;
          gap: 40px;
      }
      .slide8>.ai>ul>li{
        aspect-ratio: 1/1;
        height: 200px;
      }
      
}

    @media(max-width:768px){
      html{
        font-size: var(--basic-font-mobile);
      }
      .mobile-only{
        display:block;
      }
      .slide8{
        font-size: 0.9rem;
      }
    .swiper-slide>.ai>ul {
    display: flex;
    width: auto;
    margin: 0 1rem;
    height: auto;
    flex-wrap: wrap;
    /* display: grid; */
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    justify-content: center;
}
    .ai img {
    /* width: 100%; */
    width: 95px;
    object-fit: cover;
    aspect-ratio: 1/1;
    height: 95px;
    /* height: auto; */
    gap: 1.66rem;
    /* margin-top: 1.5rem; */
}
    .aicommand .swiper-pagination-bullet {
    width: 3rem;
    height: 0.35rem;
    display: inline-block;
    border-radius: 1.25rem;
    background: var(--swiper-pagination-bullet-inactive-color,#000);
    opacity: var(--swiper-pagination-bullet-inactive-opacity, .2);
}
    .aicommand .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: var(--slate-gray-700);
    }
    .aicommand .swiper-pagination-bullet {
    width: 1rem;
  }
  .slide8>.ai>ul>li {
    aspect-ratio: 1/1;
    width: auto;
    height: 100px;
}
  .slide1 p{
  text-align: center;
  }
  .slide2>.ai>ul,.slide3>.ai>ul{
    margin: 0 6rem;
  }
  .slide5>.ai>ul{
      margin: 0 3rem;
    }
   .aicommand .go-to-first>button {
    right: 20px;
    bottom: 80px;
}
    }