main.m-post{
    margin-top: 10rem;
}
.pg-title{
    font-size: 1.6rem;
    text-align: center;
    margin: 6rem 0;
}
.txt-intro h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    line-height: 1.2;
}
.txt-intro p{
    font-size: 1.2rem;
    color: var(--slate-gray-500);
    margin-bottom: 10rem;
}
.txt-box h3 {
    font-size: 1.6rem;
    margin-bottom: 3rem;
}
.txt-box p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.txt-intro{
    border-left: 5px solid var(--slate-gray-500);
    padding-left: 3rem;
    height: 7.5rem;
}
.post-box{
    margin-top: 10rem;
    margin-bottom: 10rem;
}
.txt-box{
    margin-top: 10rem;
    margin-bottom: 10rem;
    width: 70%;
}
.txt-box-final{
    margin-top: 10rem;
    margin-bottom: 10rem;
}
.txt-box-final h3{
    font-size: 1.8rem;
    line-height   : 1.2;
    border-bottom: 1px solid #000;
    margin-bottom: 2rem;
}
.txt-box-final p{
    width: 70%;
}
figure{
    width: 100%;
}
@media (max-width:1440px){
    main.m-post{
    margin-top: 0;
}
}
@media (max-width:1024px){
    .txt-box-final p{
    width: auto;
}
    .txt-box{
    width: auto;
}
}
