/* @media (min-width:1920px){
    body{
        width: 1920px;
        margin: 0 auto;
    }
} */


html {
  font-size: 20px;
}

/* 전체 프레임 */
.mypage__frame {
    width: auto;
    /* margin: 0 6.55rem; */
    /* background-color: white; */
    min-height: auto;
    margin-top: 5rem;
    position: relative;
    padding-bottom: 2.5rem;
    top: 3.1rem;
}

/* 제목 */
.mypage__frame > .point {
  text-align: center;
  margin: 6rem 0 1rem;
  font-size: 1.6rem;
  margin-bottom: 3rem;
}

/* 인사 문구 */
.mypage__frame > p:nth-of-type(2) {
    padding-left: 11.5rem;
    font-size: 0.8rem;
    color: var(--slate-gray-500);
}

/* 왼쪽 메뉴 리스트 */
.mypage__list {
  width: 9rem;
  flex-shrink: 0;
  display: inline-block; /* 가로 배치용 */
  margin-left: 0;
}

.mypage__list > .mypage__gnb {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  gap: 3rem;
}

.mypage__gnb > li {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}

.mypage__gnb > li > a {
  font-weight: 600;
  color: #333;
  text-decoration: none;
}

.mypage__gnb ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}

.mypage__gnb ul li a {
  color: #666;
  text-decoration: none;
  font-size: 0.9rem;
}
.all__wrap{
  display: flex;
}

/* 오른쪽 내용 박스 */
.mypage__inside__box {
    display: flex;
    flex-direction: column;
    vertical-align: top;
    /* width: calc(100% - 20rem); */
    margin-left: 2.5rem;
    flex-grow: 1;
}

/* 프로필 박스 */
.inside__box__profile {
    /* border: 1px solid var(--slate-gray-300); */
    /* width: 100%; */
    /* height: 326px; */
    /* display: flex; */
    /* gap: 4.5rem; */
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 1rem;
    /* background-color: #fafafa; */
    /* padding: 3rem 3.45rem; */
}

.inside__box__profile > .profile__img {
  margin-left: 3.45rem;
}

.profile__img img {
  width: 6rem;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.profile-left > .grade-link {
  font-size: 0.65rem;
  display: flex;
}
.profile-left > .grade-link > img{
  width: 1rem;
}
.next-grade{
  font-size: 0.65rem;
}
.info-item p{
  font-size: 0.8rem;
}

.profile-center {
    border-left: 0;
    /* padding: 4rem 0;
    padding-left: 7.5rem; */
    display: flex;
    gap: 4.5rem;
}

.profile-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-left: 4.5rem; */
    /* padding: 2.5rem 2.5rem 2.5rem 2.5rem; */
    gap: 0.5rem;
    width: auto;
}

/* 주문 현황 상단 */
.inside__box__order__top {
    width: 100%;
    height: 62px;
    background-color: var(--slate-gray-300);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: #fff;
    font-weight: 600;
}

.inside__box__order__top p:nth-of-type(2){
  font-size: 13px;
}

/* 주문 현황 하단 */
.inside__box__order__bottom {
  border: 1px solid var(--slate-gray-300);
  height: 226px;
  background-color: #fff;
  margin-bottom: 16.7rem;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
}

.order__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.order__list>p{
  color: var(--slate-gray-500);
}
.order__list>p:nth-of-type(2) {
    color: black;
    font-size: 0.65rem;
}

.just-pc-tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.2rem;
    margin-bottom: 1rem;
    border: 1px solid var(--slate-gray-300);
}
.just-mobile{
  display: none;
}
.inside__section__1 {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}
.inside__section__2 {
    padding: 0 4.62rem;
    border-left: 1px solid var(--slate-gray-100);
    border-right: 1px solid var(--slate-gray-100);
    align-self: stretch;
    display: flex;
    align-items: center;
}
@media (max-width:1680px){
  .mypage__frame {
    top: 0;
}
    .inside__section__1 {
        display: flex;
        align-items: center;
        gap: 1.25rem;
        flex-direction: column;
    }
    .inside__section__2 {
      padding: 0px 2.62rem;
      border-left: 1px solid var(--slate-gray-100);
      border-right: 1px solid var(--slate-gray-100);
      align-self: stretch;
      display: flex;
      align-items: center;
  }
  .mypage__list {
      width: 9rem;
      flex-shrink: 0;
      display: inline-block;
      margin-left: 0;
  }
}
@media (max-width:1300px){
  .profile-center {
      border-left: 1px solid var(--slate-gray-100);
      display: flex;
      gap: 1.5rem;
  }
  .inside__section__2 {
      padding: 0px 0.62rem;
      border-left: 1px solid var(--slate-gray-100);
      border-right: 1px solid var(--slate-gray-100);
      align-self: stretch;
      display: flex;
      align-items: center;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 18px;
  }

.inside__box__profile {
    border: 1px solid var(--slate-gray-300);
    /* width: 100%; */
    /* height: 326px; */
    /* display: flex; */
    /* gap: 4.5rem; */
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 1rem;
    background-color: #fafafa;
    /* padding: 3.63rem 1.86rem; */
}

  .mypage__frame {
    width: auto;
    top: 0;
  }
  .all__wrap {
    display: flex;
    gap: 1.1rem;
}
  

  .mypage__frame > p:nth-of-type(2) {
    padding-left: 0;
    margin-left: 9rem;
    margin-bottom: 0.5rem;
    font-size: 0.77rem;
    color: var(--slate-gray-500);
}

  .content-wrapper {
    display: flex;
    gap: 1.5rem;
    margin-left: 0;
    width: 100%;
  }

  .mypage__list {
    width: auto;
    margin-left: 0;
  }

  .mypage__gnb ul li a {
    color: #666;
    text-decoration: none;
    font-size: 0.77rem;
  }

  .mypage__inside__box {
    width: 100%;
    margin-left: 2.61rem;
}
.mypage__frame {
   margin: 0 2rem;
}
  .mypage__frame .mypage__list {
    margin: 0;
  }

  .inside__box__profile {
    border: 0;
    /* width: 100%; */
    /* height: 326px; */
    /* display: flex; */
    /* gap: 4.5rem; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* margin-bottom: 1rem; */
    background-color: white;
    /* padding: 3.63rem 1.86rem; */
}
  .inside__box__profile > .profile__img {
    margin-left: 1.5rem;
  }
  .profile__img img {
    width: 5.55rem;
    /* height: auto; */
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

  .profile-left > .grade-link {
    font-size: 0.66rem;
  }

 .profile-center {
    border-left: 0;
    padding: 3rem 0;
    padding-left: 0.5rem;
    display: flex;
    gap: 1.5rem;
}
  .profile-center p {
    font-size: 0.77rem;
  }

  .profile-right {
    padding: 0 1.36rem 2.5rem 1.86rem;
    gap: 0.5rem;
}
  .profile-right .next-grade {
    font-size: 0.66rem;
  }

  .order__list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .inside__box__order__top {
    height: 41px;
}
  .inside__box__order__bottom > .order__list > .now {
    font-size: 0.66rem;
  }
  
  .just-mobile{
    display: none;
  }
  .just-pc-tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.7rem 1.9rem;
    margin-bottom: 1rem;
    border: 1px solid var(--slate-gray-300);
}
.inside__section__1 {
        display: flex;
        align-items: center;
        gap: 1.25rem;
        flex-direction: row;
        flex: 1;
    }
.inside__section__2 {
    padding: 0 1.52rem;
    border-left: 1px solid var(--slate-gray-100);
    border-right: 1px solid var(--slate-gray-100);
    align-self: stretch;
    display: flex;
    align-items: center;
}
  .inside__section__3{
    flex: 1;
  }
  .inside__box__order__bottom {
    border: 1px solid var(--slate-gray-300);
    height: 176px;
    background-color: #fff;
    margin-bottom: 11.3rem;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
  .mypage__profile-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
  .mypage__inside__box {
    margin-left: 0;
}
.mypage__frame > .point {
    text-align: center;
    margin: 5rem 0 1rem;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 3rem;
}
.grade-link{
  display: none;
}
  .all__wrap {
    /* display: flex; */
    flex-direction: column-reverse;
    gap:0;
}
  .mypage__frame {
    width: auto;
    margin: 0 1rem;
    background-color: white;
    margin-top: 5rem;
    position: relative;
    padding-bottom: 0;
  }
  .inside__box__profile {
        
        height: auto; 
        justify-content: flex-start; 
        flex-direction: row; 
        padding: 0;
        border: 0;
  }
    .profile-left > .grade-link {
    font-size: 0.66rem;
    display: none;
  }
  .profile__img img {
    width: 5rem;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1/1;
  }
  .inside__box__profile > .profile__img {
    margin-left: 0;
  }
  .mypage__frame > p:nth-of-type(2) {
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 0.5rem;
    font-size: 0.77rem;
    display: none;
  }
  .profile-center {
    border-left: 0;
    padding: 0.3rem;
    padding-left: 0;
    display: flex;
    gap: 0.3rem;
    flex-direction: column;
}
  .mypage__bar > img {
    max-width: 100%;
    width: 8.92rem;
  }
  .profile-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 0;
    padding: 0 1rem 0 1rem;
    gap: 0.5rem;
  }
  .profile-center p {
    font-size:0.71rem;
}
  .profile-right .next-grade {
    font-size: 0.71rem;
}
.inside__box__order__bottom > .order__list > .now {
    font-size: 0.71rem;
}
  .inside__box__order__top {
    width: 100%;
    height: 2rem;
    background-color: var(--slate-gray-300);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: #fff;
    font-weight: 600;
  }

  .inside__box__order__top>p {
    font-size: 1rem;
}

  .inside__box__order__top>p:nth-of-type(2){
    font-size: 0.71rem;
  }

  .inside__box__order__bottom {
    border: 1px solid var(--slate-gray-300);
    height: 8.5rem;
    background-color: #fff;
    margin-bottom: 8.28rem;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
  }
  .inside__box__order__bottom > .right-arrow > img {
    height: 1rem;
  }

  .mypage__list > .mypage__gnb {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    gap: 3rem;
    justify-content: space-evenly;
    padding-top: 3.07rem;
    border-top: 1px solid var(--slate-gray-100);
    margin-bottom: 5rem;
}

.mypage__gnb ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}
.mypage__gnb > li {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    text-align: center;
}
.mypage__gnb ul li a {
    color: #666;
    text-decoration: none;
    font-size: 0.7;
}
.mypage__list > .mypage__gnb> li >span {
    border-bottom: 1px solid var(--slate-gray-600);
    font-size: 0.78rem;
}

.just-pc-tab{
  display: none;
}
.just-mobile {
    display: inline-flex;
    gap: 2rem;
    justify-content: space-between;
    margin-bottom: 1rem;
}

    .just-mobile .profile-left {
        /* 이름과 포인트 정보를 감싸는 컨테이너 */
        flex-direction: column; 
        align-items: flex-start; 
    }
    .just-mobile .profile-center {
        /* 포인트/쿠폰 정보를 수직으로 정렬합니다. */
        flex-direction: column;
        gap: 0.2rem;
    }
    .just-mobile .profile-center .info-item {
        /* Point와 Coupon 항목을 수직 정렬 */
        display: flex;
        gap: 0.5rem; /* 항목 내부 값과 레이블 간 간격 */
    }
    .just-mobile .profile-right {
        /* 등급 정보를 오른쪽 끝으로 밀기 */
        margin-left: auto; /* 가능한 한 오른쪽으로 이동 */
        align-items: flex-end; /* 오른쪽 정렬 */
    }
    .nickname p{
      display: inline-block;
      font-size: 1rem;
    }
}
@media (max-width:400px){
  .mypage__list > .mypage__gnb {
    gap: 1rem;

}
.inside__box__order__bottom {
    margin-bottom: 4.28rem;
}
.just-mobile .profile-center .info-item {
    display: flex;
    flex-direction: column;
    gap: 0;
}
}

@media (max-width:300px){
  .just-mobile {
    display: inline-flex;
    gap: 1rem;
    justify-content: space-between;
    margin-bottom: 1rem;
    flex-direction: column;
}
.just-mobile .profile-center {
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.just-mobile {
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.just-mobile .profile-right {
    align-items: center;
}
.mypage__list > .mypage__gnb {
    margin-bottom: 6rem;
}
.inside__box__order__bottom {
    height: 22rem;
    flex-direction: column;
    margin-bottom: 4.28rem;
}
.inside__box__order__bottom > .right-arrow > img {
    height: 1rem;
    transform: rotate(90deg);
}
}