/* @media (min-width:1920px){
    body{
        width: 1920px;
        margin: 0 auto;
    }
} */

/* html, body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  box-sizing: border-box;
} */

/* 공통 프레임 */
.order-and-delivery,
.common-frame {
  display: flex;
  flex-direction: column;
  width: auto;
  box-sizing: border-box;
}

/* 제목 영역 */
.title__title {
  text-align: center;
  margin: 6rem 0 4.4px 0;
}
.title__title .point {
  font-size: 1.6rem;
}

/* 메인 영역 (왼쪽 + 오른쪽) */
.main-space {
  display: flex;
  width: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 왼쪽 리스트 */
.main-space .mypage__list {
  width: 9rem;
  flex-shrink: 0;
  display: inline-block;
  margin-left:0;
}
.main-space .right-space {
  margin-left: 2.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.main-space .mypage__list > ul.mypage__gnb {
  display: flex;
  flex-direction: column;
  list-style: none;
  border-top: 0;
  gap: 3rem;
  padding: 0;
}
.main-space .mypage__list > .mypage__gnb > li > span {
  border: 0;
  font-size: 1rem;
}

.main-space .mypage__gnb > li {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  font-size: 0.8rem;
  text-align: left;
}

.mypage__gnb > li > a {
  font-weight: 600;
  color: #333;
  text-decoration: none;
}

.mypage__list .mypage__gnb ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}

.mypage__gnb ul li a {
  color: #666;
  text-decoration: none;
  font-size: 0.9rem;
}

/* 날짜 버튼 */
.date-buttons {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
  font-size: 0.65rem;
}

.right-space .date-buttons .button {
  /* width: 3rem; */
  /* height: 1.5rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid var(--slate-gray-200);
  color: var(--slate-gray-200);
  padding: 0.5rem 1.25rem;
  flex: none;
}
.date-buttons .button:nth-of-type(4) {
  color: white;
  background-color: var(--slate-gray-200);
  padding: 0.5rem 1.5rem;
}
.order-item dd a{
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--slate-gray-300);
}
/* 버튼 밑의 컨텐츠들 */


@media (max-width:1024px){
    html{
        font-size: 18px;
    }
}
@media (max-width:768px){
    html{
        font-size: 14px;
    }
    .inside__box__one .order-item.fr3 {
    flex: 2;
}
}