/* @media (min-width:1920px){
    body{
        width: 1920px;
        margin: 0 auto;
    }
} */

html, body {
  font-size: 20px;
}

.wide-frame .order-and-delivery{
  margin-top: 4rem;
}

/* 공통 프레임 */
.order-and-delivery,
.common-frame {
  display: flex;
  flex-direction: column;
  width: auto;
  box-sizing: border-box;
}

/* 제목 영역 */
.title__title {
  text-align: center;
  margin: 120px 0 88px 0;
}
.title__title .point {
  font-size: 1.6rem;
}

/* 메인 영역 (왼쪽 + 오른쪽) */
.main-space {
  display: flex;
  width: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 왼쪽 리스트 */
.main-space .mypage__list {
  width: 9rem;
  flex-shrink: 0;
  display: inline-block;
  margin-left:0;
}
.main-space .right-space {
  margin-left: 2.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.main-space .mypage__list > ul.mypage__gnb {
    display: flex;
    flex-direction: column;
    list-style: none;
    border-top: 0;
    gap: 3rem;
    padding: 0;
    margin-bottom: 6rem;
}
.main-space .mypage__list > .mypage__gnb > li > span {
  border: 0;
  font-size: 1rem;
}

.main-space .mypage__gnb > li {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  font-size: 0.78rem;
  text-align: left;
}

.mypage__gnb > li > a {
  font-weight: 600;
  color: #333;
  text-decoration: none;
}

.mypage__list .mypage__gnb ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}

.mypage__gnb ul li a {
  color: #666;
  text-decoration: none;
  font-size: 0.9rem;
}

/* 오른쪽 콘텐츠 */
.right-space {
  margin-left: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

/* 날짜 버튼 */
.date-buttons {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
  font-size: 0.65rem;
}

.right-space .date-buttons .button {
  /* width: 3rem; */
  /* height: 1.5rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid var(--slate-gray-200);
  color: var(--slate-gray-200);
  padding: 0.5rem 1.25rem;
  flex: none;
}
.date-buttons .button:nth-of-type(4) {
  color: white;
  background-color: var(--slate-gray-200);
  padding: 0.5rem 1.5rem;
}

/* 오른쪽윗칸 */

.order-list {
  display: flex;
}

.order-item {
  flex: 1;
  text-align: center;
}
.order-item.fr3{
  flex:3;
}

.order-item dt .brbr {
  display: none;
}
.order-item dd .brbr {
  display: none;
}

.order-item:first-child {
  border-left: none;
}

.order-list .order-item dt {
  background-color: var(--slate-gray-300);
  /* padding: 1rem 0; */
  border: 1px solid var(--slate-gray-300);
  color: white;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-list .order-item dd {
  margin: 0;
  padding: 2rem 0 2.4rem;
  font-size: 0.8rem;
}

/* 주문 현황 박스 */
.inside__box__two {
  flex: 1;
}

.inside__box__two .inside__box__order__top {
  /* background-color: #666; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 62px;
  background-color: var(--slate-gray-300);
  border: 1px solid var(--slate-gray-300);
  border-bottom: none;
  color: white;
}
.inside__box__order__top p:nth-of-type(2) {
  font-size: 0.65rem;
}

.inside__box__two .inside__box__order__bottom {
  border: 1px solid var(--slate-gray-300);
  height: 226px;
  background-color: #fff;
  margin-bottom: 0;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
}

.order__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.inside__box__order__bottom .order__list .now {
  font-size: 0.65rem;
  /* margin-bottom: 97px; */
}
.inside__box__order__bottom .order__list p:nth-of-type(1) {
  font-size: 1rem;
  color: var(--slate-gray-500);
}
.inside__box__order__bottom .right-arrow {
  width: auto;
}

@media (max-width:1440px){
  .wide-frame .order-and-delivery {
    margin-top: 0;
}
}

@media (max-width: 1024px) {
  html {
    font-size: 18px;
  }
  .main-space .mypage__list {
    width: auto;
  }
  .mypage__gnb > li {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    font-size: 1rem;
  }
  .mypage__gnb ul li a {
    color: #666;
    text-decoration: none;
    font-size: 0.77rem;
  }

  .inside__box__two .inside__box__order__top {
    /* background-color: #666; */
    height: 41px;
}

  .inside__box__two .inside__box__order__bottom {
    height: 174px;
  }
  .order-list .order-item dd {
    margin: 0;
    padding: 19px 0 19px;
    font-size: 14px;
  }

  .order-list .order-item dt {
    background-color: var(--slate-gray-300);
    /* padding: 1rem 0; */
    border: 1px solid var(--slate-gray-300);
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }
  .order-item dd {
    font-size: 0.77rem;
  }

  .main-space .right-space {
    /* margin-left: 40px; */
    margin-left: 2.61rem;
}
  .right-space .date-buttons .button {
    padding: 0.2rem 1rem;
  }
  .right-space .date-buttons .button:nth-of-type(4) {
    padding: 0.2rem 1rem;
  }

  .right-arrow {
    width: 1rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
  .main-space {
    flex-direction: column-reverse;
    gap: 1.1rem;
  }
  .order-item>dt>.brbr {
    display: inline-block;
  }
  .order-item>dd>.brbr {
    display: inline-block;
  }
  .order-list {
    display: flex;
    /* flex-direction: column; */
    /* gap: 0; */
    justify-content: center;
    /* align-items: center; */
    /* text-align: center; */
  }
  .order-list .order-item dt {
    font-size: 12px;
    height: 30px;
}

  .order-list .order-item dd {
    font-size: 11px;
    margin: 0;
    padding: 1rem 0;
}

  .mypage__list {
    margin: 0 auto;
    width: auto;
  }
.main-space .mypage__list > ul.mypage__gnb {
    display: flex;
    flex-direction: row;
    list-style: none;
    border-top: 0;
    justify-content: space-evenly;
    gap: 1rem;
    padding-top: 3.07rem;
    border-top: 1px solid var(--slate-gray-100);
}
.mypage__frame {
    padding-bottom: 2.5rem;
}

  .mypage__list .mypage__gnb > li {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    text-align: center;
}
  .inside__box__two .inside__box__order__top {
    /* background-color: #666; */
    height: 2rem;
}

  .inside__box__two .inside__box__order__bottom {
    border: 1px solid var(--slate-gray-300);
    height: 106px;
    background-color: #fff;
    margin-bottom: 0;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}

  .right-arrow {
    /* transform: rotate(90deg); */
    width: 9.36px;
  }
  .right-space .date-buttons .button {
    flex: 1;
  }
  .mypage__list > .mypage__gnb > li > span {
    border-bottom: 1px solid var(--slate-gray-600);
    font-size: 0.78rem;
  }
  .mypage__list .mypage__gnb ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

  .main-space .mypage__list > .mypage__gnb> li >span {
    border-bottom: 1px solid var(--slate-gray-600);
    font-size: 0.78rem;
}
  
  .main-space .right-space {
    margin-left: 0;
}
  .inside__box__order__bottom .right-arrow img{
    height: 1rem;
  }

  .inside__box__two .inside__box__order__bottom {
    height: 8.5rem;
    margin-bottom: 4.28rem;
}

 .inside__box__order__bottom .order__list{
    gap: 0.5rem;
 } 
  .main-space .mypage__list {
    width: auto;
    margin: 0 0;
}

.title__title {
    text-align: center;
    margin: 70px 0 3rem 0;
}
.inside__box__order__bottom .order__list .now {
    font-size: 10px;
    /* margin-bottom: 97px; */
}
.inside__box__order__top p:nth-of-type(2) {
    font-size: 10px;
}
.mypage__gnb ul li a {
    color: #666;
    text-decoration: none;
    font-size: 10px;
}
.main-space .mypage__gnb > li {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    font-size:10px;
    text-align: center;
}

}


@media (max-width: 300px) {
  .order-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .date-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
    font-size: 0.65rem;
  }
  .inside__box__order__bottom {
    height: 10rem;
    flex-direction: column;
    padding: 0.71rem 0 146px 0;
  }
  .inside__box__order__bottom {
    margin-bottom: 10.7rem;
  }
  .mypage__list > .mypage__gnb {
    flex-direction: column;
    padding-bottom: 100px;
  }
  .inside__box__two .inside__box__order__bottom {
    height: 10rem;
    margin-bottom: 4.28rem;
}
.main-space .mypage__list > ul.mypage__gnb {
    margin-bottom: 6rem;
}
.inside__box__order__bottom .right-arrow img {
    height: 1rem;
    transform: rotate(90deg);
}
}
