/* @media (min-width:1920px){
    body{
        width: 1920px;
        margin: 0 auto;
    }
} */

html {
  font-size: 20px;
}
.wide-frame .small-kit{
  margin-top: 10rem;
}
.title__title {
  text-align: center;
  margin: 6rem 0 4.75rem 0;
}
.title__title .point {
  font-size: 1.6rem;
}

main {
  display: flex;
  gap: 8.65rem;
  margin-bottom: 6rem;
}
.info__1 {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
.info__2 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--slate-gray-300);
}
.info__3 {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
}
.info__3-1 {
  display: flex;
  gap: 1rem;
}
.info__3-1 p:nth-of-type(3) {
  border: 1px solid var(--slate-gray-300);
  width: 4.4rem;
  text-align: center;
  border-radius: 3rem;
}
.choose {
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
}
.choose li{
    display: flex;
}
.choose  li label {
    width: 130px;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
}

.paperorliquid, .choosebrand, .choosescent {
    width: 310px;
    height: 24px;
    text-align: center;
    color: var(--slate-gray-600);
    margin-right: 230px;
}

.choose ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.choose__buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  text-align: center;
}
.choose__buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 2.5rem;
  border: 1px solid var(--slate-gray-300);
}
.choose__buttons a:hover{
  background-color: var(--slate-gray-600);
  color: white;
}

@media (max-width: 1440px){
  main {
    gap: 3rem;
}
.wide-frame .small-kit {
    margin-top: 0;
}
.info__3-1 {
    gap: 0.5rem;
    flex-direction: column;
}
}
@media (max-width: 1024px) {
  html {
    font-size: 18px;
  }
  figure img {
    aspect-ratio: 1/1;
    width: 100%;
  }
  main {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-bottom: 6rem;
  }
  .info__3-1 p:nth-of-type(3) {
    width: 3.77rem;
}
.paperorliquid, .choosebrand, .choosescent {
    width: 310px;
    height: 24px;
    text-align: center;
    color: var(--slate-gray-600);
    margin-right: 0;
}

}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
  html main {
    flex-direction: column;
    gap: 0px;
  }
  figure img {
    aspect-ratio: 1/1;
    height: 100%;
  }
  .choose__buttons {
    flex-direction: row;
  }
  .info__3-1 p:nth-of-type(3) {
    width: 3.78rem;
}
}

@media (max-width:400px){
  .choose {
    margin-bottom: 6rem;
}
  .choose__buttons{
    display: block;
    width: auto;
  }
  .choose__buttons a {
    margin-bottom: 0.5rem;
}
.paperorliquid, .choosebrand, .choosescent {
    margin-right: 0px;
}
.choose  li label {
    width: 80px;
} 
}

@media (max-width:300px){
  .info__3-1 {
    gap: 0.5rem;
    flex-direction: column;
}
.choose__buttons a {
    height: 2.85rem;
}
.paperorliquid, .choosebrand, .choosescent {
  margin-right: 0;
}
} 